Source: pycurl-wrapper
Section: python
Priority: optional
Maintainer: Alon Swartz <alon@turnkeylinux.org>
Build-Depends:
 debhelper (>= 10),
 dh-python,
 python3-all (>= 3.7~),
 python3-pycurl,
Standards-Version: 4.0.0

Package: py3curl-wrapper
Architecture: all
Depends:
 ${misc:Depends},
 ${python:Depends},
 python3-pycurl,
Suggests:
 python3-profiler,
Description: Simplified wrapper for python-pycurl
