Source: pycurl-wrapper
Section: python
Priority: optional
Maintainer: Alon Swartz <alon@turnkeylinux.org>
Build-Depends:
 debhelper (>= 10),
 dh-python,
 python3-all (>= 3.5~),
Standards-Version: 4.0.0
X-Python-Version: >= 3.5

Package: pycurl-wrapper
Architecture: any
Depends:
 ${misc:Depends},
 ${python3:Depends},
 python3-pycurl,
 python3-simplejson,
Suggests:
 python3-profiler,
Description: Simplified wrapper for python3-pycurl
